@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,800&display=swap");

html{
  overflow-x: hidden;
  overflow-anchor: none;
  /* for solving the element left shifting */
}

nav {
  margin-top: 40px;
  margin-bottom: 8rem;
  font-size: 11pt;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.nav-link {
  color: hsl(0, 0%, 75%);
  margin-left: 20px;
}

.btn-login {
  border: none;
  text-decoration: none;
  background-color: #fff;
  color: hsl(0, 0%, 75%);
  margin-right: 2rem;
}

.btn-login:hover,
.nav-link:hover {
  color: #000;
}

.btn {
  background-color: hsl(180, 66%, 49%);
  color: #fff;
  border-radius: 20px;
  width: 7rem;
}

.btn:hover {
  color: #fff;
  background-color: hsl(180, 66%, 70%);
}

#head-section .content-container {
  display: flex;
  justify-content: center;
  overflow-anchor: none;
  /* the last item makes a BIG MAGIC
  to STOP shifting elements to left */
}

.content-container h1 {
  font-weight: 700;
  font-size: 4.5rem;
  white-space: nowrap;
}

.content-container p {
  color: hsl(0, 0%, 75%);
  font-size: 22px;
}

.hidden-till-mobile-size{
  visibility: hidden;
}

.left-content {
  position: relative;
  left: 5rem;
}

.left-content .btn {
  border-radius: 30px;
  width: 8rem;
  margin-top: 1rem;
  height: 3rem;
  padding: 10px 12px 6px;
}

.content-container img {
  position: relative;
  left: 12rem;
  bottom: 5rem;
  width: 65%;
}

.search-section {
  background-color: hsl(257, 27%, 26%);
  background-image: url(images/bg-shorten-desktop.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 9rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 4rem;
  margin: auto;
}

.search-section form {
  width: 90%;
  height: 4rem;
  margin-top: 2.5rem;
  margin-left: 1rem;
}

.search-section input {
  width: 80%;
  border-radius: 5px;
  border-style: none;
  margin-right: 20px;
  height: 90%;
  /* text-indent: 2rem */
  /* another new attrinute i Learned */
  padding-left: 2rem;
}

.search-section input::placeholder {
  color: hsl(0, 0%, 75%);
  opacity: 0.8;
}

.red{
  color: rgba(255,0,0,0.4);
}

.label{
  color: red;
}

.search-section .btn {
  width: 14%;
  background-color: hsl(180, 66%, 49%);
  color: #fff;
  border-radius: 10px;
  height: 91%;
}

.container-fluid {
  padding: 0;
}



/* middle parts */
#middle-section {
  background-color: #f3f4ed;
  padding-top: 80px;
  padding-bottom: 10rem;
}

.middle-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  margin-bottom: 4rem;
}

.middle-title h2{
  font-weight: 800;
}

.middle-details{
  margin-top: 1rem;
  text-align: center;
  color: #9e9aa7;
  width: 40%;
}

.card-container{
  display: flex;
  justify-content: space-around;
  margin: 5rem auto 8rem auto;
}

.main-card{
    width: 22rem;
    padding: 3rem 4rem 2rem 2rem;
    text-align: left;
    border-radius: 10px;
}

.card-container .main-card:nth-child(2){
  position: relative;
  top: 3rem;
}

.card-container .main-card:nth-child(2)::before{
  content: " ";
  width: 20px;
  border-bottom: 8px solid hsl(180, 66%, 49%);
  position: relative;
  right: 3.3rem;
  top:4rem
}

.card-container .main-card:last-child{
  position: relative;
  top: 6rem;
}

.card-container .main-card:last-child::before{
  content: " ";
  width: 20px;
  border-bottom: 8px solid hsl(180, 66%, 49%);
  position: relative;
  right: 3.3rem;
  top:1rem
}

.card-img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b3054;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-top: -14vh;
}

.card-img{
  width: 50%;
  height: 50%;
}

.main-card h4{
  font-weight: 800;
  margin-top: 2.5rem;
}

.main-card p{
  color: #9e9aa7;
  font-size: 0.9rem;
  line-height: 1.8;
}

/* before-footer part */

#before-footer {
  background-color: hsl(257, 27%, 26%);
  background-image: url(images/bg-boost-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 12rem;
  color: #fff;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#before-footer h2{
  margin-bottom: 2rem
}

#before-footer .btn {
    width: 10.4rem;
    height: 3rem;
    border-radius: 13px;
    font-size: 13pt;
}

/* footer part */
#footer{
  background-color: hsl(260, 8%, 14%);
  color:#fff;
  padding: 4rem;
}

#footer table{
  width: 35rem;
  margin-left: 9rem;
  font-size: 11pt;
}

tbody{
  font-weight: 300;
  color: hsl(0, 0%, 75%);
}

td{
  width: 10rem;
}

td span:nth-child(n+2){
  display: inline-block;
  cursor: pointer;
  margin-bottom: 12px;
}

/* span doesnt take the vertically Margin */
/* till the display changed to Block or Inline-Block */

td span:nth-child(n+2):hover {
  color: hsl(180, 66%, 49%);
}

td span:first-child{
  color: #fff;
  font-weight: 700;
}

.logos{
  /* margin-left: 5rem; */
}

.logos i {
  margin-left: 10px;
  color: #fff;
}

.logos i:hover{
  color: hsl(180, 66%, 49%);
}

/* attribution */

.attribution{
  color: hsl(0, 0%, 75%);
  background-color: hsl(260, 8%, 14%);
  text-align: center;
  font-size: 10pt;
}

.attribution a{
  font-weight: 700;
  text-decoration: none;
  color: hsl(0, 0%, 75%);
}

.attribution a:hover{
  color: hsl(180, 66%, 49%);
}

/* the Short links styles */

.contain-short-link{
  background-color: #fff;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  font-size: 11pt;
  padding: 20px;
}

.contain-short-link a {
  margin-left: 13.937rem;
  padding: 6px;
}

.contain-short-link .btn{
  border-radius: 5px;
}

.latest-link{
  border: 5px solid #ffdf6b;
}

.linkAndCopy{
  display: flex;
  float: left;
  height: 55px;
}

.linkAndCopy input{
  border: none;
  margin-right: 10px;
  color:hsl(180, 66%, 49%);
}

.userUrlEntered{
  width: 550px;
  word-break: break-all;
}

@media screen and (max-width: 680px) {

body{
  text-align: center;
  align-items: center;
}

/* head-section */

#head-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image{
  visibility: hidden;
  width: 0;
  height: 0;
}

.content-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content-container h1 {
  font-size:
}

.hidden-till-mobile-size{
  visibility: visible;
  width: 300px;
  height: 300px;
}

.hidden-till-mobile-size img{
  visibility: visible;
  width: 300px;
  height: 300px;
}

/* search-section */



/* middle-section */
.card-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}

.main-card {
  align-items: center;
  margin-bottom: 2.5rem;
  padding : 3rem;
}

.card-img-container{
  margin-top: -22vh;
  margin-left: 0.8rem;
  z-index: 1;
}

.main-card p{
  text-align: center;
}
.card-container .main-card:last-child::before{
  height: 53px;
  border-left: 8px solid hsl(180, 66%, 49%);
  border-bottom: none;
  position: relative;
  top: -8.6rem;
  left: 0.78rem;
}

.card-container .main-card:nth-child(2)::before{
  height: 53px;
  border-left: 8px solid hsl(180, 66%, 49%);
  border-bottom: none;
  position: relative;
  top: -8.6rem;
  left: 0.8rem;
}

/* before-footer */
#before-footer{
  background-image: url(images/bg-boost-mobile.svg);
}

/* footer */
  #footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #footer table{
    margin-top: 20px;
    margin-left: 0;
    width: auto;
  }
  #footer tr{
    display: flex;
    flex-direction: column;
  }

  .table-container{
    display: flex;
    justify-content: center;
  }

  .logos i {
    margin-left: 20px;
  }

}
