@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,800&display=swap");

html{
  overflow-x: hidden;
  pverflow-anchor: none;
  /* for solving the element left shifting */
}

nav {
  margin-top: 40px;
  margin-bottom: 8rem;
  font-size: 11pt;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.nav-link {
  color: hsl(0, 0%, 75%);
  margin-left: 20px;
}

.btn-login {
  border: none;
  text-decoration: none;
  background-color: #fff;
  color: hsl(0, 0%, 75%);
  margin-right: 2rem;
}

.btn-login:hover,
.nav-link:hover {
  color: #000;
}

.btn {
  background-color: hsl(180, 66%, 49%);
  color: #fff;
  border-radius: 20px;
  width: 7rem;
}

.btn:hover {
  color: #fff;
  background-color: hsl(180, 66%, 70%);
}

#head-section .content-container {
  display: flex;
  justify-content: center;
  overflow-anchor: none;
  /* the last item makes a BIG MAGIC
  to STOP shifting elements to left */
}

.content-container h1 {
  font-weight: 700;
  font-size: 4.5rem;
  white-space: nowrap;
}

.content-container p {
  color: hsl(0, 0%, 75%);
  font-size: 22px;
}

.left-content {
  position: relative;
  left: 5rem;
}

.left-content .btn {
  border-radius: 30px;
  width: 8rem;
  margin-top: 1rem;
  height: 3rem;
  padding: 10px 12px 6px;
}

.content-container img {
  position: relative;
  left: 12rem;
  bottom: 5rem;
  width: 65%;
}

.search-section {
  background-color: hsl(257, 27%, 26%);
  background-image: url(images/bg-shorten-desktop.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 9rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 4rem;
  margin: auto;
}

.search-section form {
  width: 90%;
  height: 4rem;
  margin-top: 2.5rem;
  margin-left: 1rem;
}

.search-section input {
  width: 80%;
  border-radius: 5px;
  border-style: none;
  margin-right: 20px;
  height: 90%;
  /* text-indent: 2rem */
  /* another new attrinute i Learned */
  padding-left: 2rem;
}

.search-section input::placeholder {
  color: hsl(0, 0%, 75%);
  opacity: 0.8;
}

.red{
  color: rgba(255,0,0,0.4);
}

.label{
  color: red;
}

.search-section .btn {
  width: 14%;
  background-color: hsl(180, 66%, 49%);
  color: #fff;
  border-radius: 10px;
  height: 91%;
}

.container-fluid {
  padding: 0;
}



/* middle parts */
#middle-section {
  background-color: #f3f4ed;
  padding-top: 80px;
}

.middle-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  margin-bottom: 4rem;
}



.middle-title h2{
  font-weight: 800;
}
.middle-details{
  margin-top: 1rem;
  text-align: center;
  color: #9e9aa7;
  width: 40%;
}
.card-container{
  display: flex;
  justify-content: space-around;
}
.main-card{
    width: 25rem;
    padding: 3rem 4rem 2rem 2rem;
    text-align: left;
    border-radius: 10px;
}
.card-img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b3054;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-top: -14vh;
}
.card-img{
  width: 50%;
  height: 50%;

}

.main-card h3{
  font-weight: 800;
  margin-top: 2.5rem;
}
.main-card p{
  color: #9e9aa7;
  font-size: 1rem;
}

/* before-footer part */

#before-footer {
  background-color: hsl(257, 27%, 26%);
  background-image: url(images/bg-boost-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 12rem;
  color: #fff;
  padding-top: 2rem;
}

#before-footer h2{
  display: flex;
  justify-content: center;
}

#before-footer .btn {
    margin-left: 29rem;
    margin-top: 2rem;
    width: 10.4rem;
}

/* the Short links styles */

.contain-short-link{
  background-color: #fff;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  font-size: 11pt;
  padding: 20px;
}

.contain-short-link a {
  margin-left: 13.937rem;
  padding: 6px;
}

.contain-short-link .btn{
  border-radius: 5px;
}

.latest-link{
  border: 5px solid #ffdf6b;
}

.linkAndCopy{
  display: flex;
  float: left;
  height: 55px;
}

.linkAndCopy input{
  border: none;
  margin-right: 10px;
  color:hsl(180, 66%, 49%);
}

.userUrlEntered{
  width: 550px;
  word-break: break-all;
}
